@{
  Layout = "_Layout";
}

@model Factory.Models.Machine

<h3>Add an Engineer to this Machine: @Html.DisplayFor(model => model.Name)</h3>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.MachineId)

  @Html.Label("Select an Engineer")
  @Html.DropDownList("EngineerId")

  <button type="submit" value="Save" class="btn btn-outline-secondary">Add Engineer</button>
}

<h5>@Html.ActionLink("Add New Engineer", "Create", "Engineers") | @Html.ActionLink("Edit Machine", "Edit", "Machines", new {id = Model.MachineId}) | @Html.ActionLink("Delete Machine", "Delete", "Machines", new {id = Model.MachineId}) | @Html.ActionLink("View all Machines", "Index", "Machines") | @Html.ActionLink("Main Menu", "Index", "Home")</h5>
