@{
  Layout = "_Layout";
}

@model Factory.Models.Machine

<h2>Add a new Machine</h2>

@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Name)
  @Html.TextBoxFor(model => model.Name, new {required = "required"})

  @Html.Label("Select an Engineer")
  @Html.DropDownList("EngineerId")

  <label for="engineer">Add a new Licensed Engineer: </label>
  <input id="engineer" name="EngineerName">

  <input type="submit" value="Add New Machine" class="btn btn-success btm-sm" />
}

<h5>@Html.ActionLink("Show all Machines", "Index", "Machines") | 
  @Html.ActionLink("Add a new Engineer", "Create", "Engineers") | 
  @Html.ActionLink("Home", "Index", "Home")</h5>