@{
  Layout = "_Layout";
}

@model Factory.Models.Machine

<h2>Add a new Machine</h2>

@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Name)
  @Html.TextBoxFor(model => model.Name, new {required = "required"})

  @Html.Label("Select an Engineer")
  @Html.DropDownList("Engineer.model.EngineerId")

  <input type="submit" value="Add New Machine" class="btn btn-success" />
}

<h5>@Html.ActionLink("Show all machines", "Index", "Machines")</h5>
<h5>@Html.ActionLink("Home", "Index", "Home")</h5>
