@{
  Layout = "_Layout";
}

@model Factory.Models.Machine

<h2>@Html.DisplayFor(model => model.Name) Details</h2>

@if (@Model.JoinEntities.Count == 0)
{
  <h4><i class="bi bi-exclamation-triangle"></i>Need an engineer licensed to repair this kind of machine<i class="bi bi-exclamation-triangle"></i></h4>
}
else
{
  <h4>Engineers licensed to repair @Model.Name:</h4>
  <ul>
  @foreach (var join in Model.JoinEntities)
    {
      <i class="bi bi-person"></i> @join.Engineer.Name
    }
  </ul>
}

<h5>@Html.ActionLink("Add an Engineer to a Machine", "AddEngineer", "Machines", new {id = Model.MachineId}) | 
  @Html.ActionLink("Edit Machine", "Edit", "Machines", new {id = Model.MachineId}) | 
  @Html.ActionLink("Delete Machine", "Delete", "Machines", new {id = Model.MachineId}) | 
  @Html.ActionLink("View all Machines", "Index", "Machines") | 
  @Html.ActionLink("Main Menu", "Index", "Home")</h5>