@{
  Layout = "_Layout";
}

@model Factory.Models.Machine

<h2>Edit @Html.DisplayFor(model => model.Name)</h2>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.MachineId)

  @Html.LabelFor(model => model.Name)
  @Html.EditorFor(model => model.Name)

  @Html.Label("Select an Engineer")
  @Html.DropDownList("Engineer.model.EngineerId")

  <input type="submit" value="Save" class="btn btn-success" />
}
@* <i class="bi bi-save"></i> *@
<h5>@Html.ActionLink("Back to the machines list", "Index", "Machines")</h5>
<h5>@Html.ActionLink("Main Menu", "Index", "Home")</h5>