@{
  Layout = "_Layout";
}

@using Factory.Models;
@model List<Factory.Models.Machine>;

<h1>Machines Menu</h1>

@if (@Model.Count == 0)
{
  <h3><i class="bi bi-exclamation-triangle"></i> No Machines have been added yet!<i class="bi bi-exclamation-triangle"></i></h3>
}

<ul>
  @foreach (Machine machine in Model)
  {
    <p><i class="bi bi-gear-fill"></i> @Html.ActionLink($"{machine.Name}", "Details", new { id = machine.MachineId })</p>
  }
</ul>

<h5>@Html.ActionLink("Add New Engineer", "Create", "Engineers") | 
  @Html.ActionLink("Add New Machine", "Create", "Machines") | 
  @Html.ActionLink("View all Engineers", "Index", "Engineers") | 
  @Html.ActionLink("Main Menu", "Index", "Home")</h5>