@{
  Layout = "_Layout";
}

@model Factory.Models.Engineer

<h3>Add a Machine to this Engineer: @Html.DisplayFor(model => model.Name)</h3>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.EngineerId)

  @Html.Label("Select a Machine")
  @Html.DropDownList("MachineId")

  <button type="submit" value="Save" class="btn btn-outline-secondary">Add the Machine</button>
}

<h5>@Html.ActionLink("Add New Engineer", "Create", "Engineers") | @Html.ActionLink("View all Machines", "Index", "Machines") | @Html.ActionLink("Main Menu", "Index", "Home")</h5>