@{
  Layout = "_Layout";
}
@model Factory.Models.Engineer

<h2>Engineer Details</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name) </h3>

@if (@Model.JoinEntities.Count == 0)
{
  <h4><i class="bi bi-exclamation-triangle"></i>This engineer is not licensed to repair any machines currently on your list<i class="bi bi-exclamation-triangle"></i></h4>
}
else
{
  <h4>Machines this engineer is licensed to work on:</h4>
  <ul>
  @foreach (var join in Model.JoinEntities)
    {
      <p><i class="bi bi-gear-wide"></i> @join.Machine.Name</p>
    }
  </ul>
}

<h5>@Html.ActionLink("Add a new machine", "Create", "Machines") | @Html.ActionLink("Edit Engineer", "Edit", "Engineers", new { id =Model.EngineerId }) | @Html.ActionLink("Delete Engineer", "Delete", "Engineers", new { id =Model.EngineerId }) | @Html.ActionLink("View Engineers List", "Index", "Engineers") | @Html.ActionLink("Main Menu", "Index", "Home")</h5>
